/* acasia2021.scss */
section.session {
    border-bottom: #1aa7e3 solid 1px;
    article {
        padding-bottom: 20px;
    }
    dl {
        padding-top: 10px;
        overflow: hidden;
        height: auto;
        border-top: #1aa7e3 solid 1px;
        dt {
            font-weight: normal;
            vertical-align: middle;
        }
        dt,dd {
            float: left;
            display: inline-block;
        }
        a {
            color: #1aa7e3;
        }
        h3 {
            font-weight: normal;
        }
    }

    .session-date {
        width: 12%;
    }
    .session-list {
        width: 85%;
        overflow: hidden;
    }

    .top-30 {
        padding-top: 30px;
    }
    .lh-2em {
        line-height: 2em;
    }
}


section.sponsorship{
    text-align: center;
    overflow: hidden;
    dl{
        padding-top: 2em;
        overflow: auto;
        dt{
            padding-bottom: 1em;
            font-size: 2em;
        }
        dd {
            overflow: auto;
            min-height: 100px;
            line-height: 100px;
            vertical-align: baseline;
            img {
                min-width: 100px;
                max-width: 300px;
                padding: 0 10px;
            }
        }
    }
}
