<!DOCTYPE HTML>

<html>
{{ partial "header.html" . }}
	<body class="homepage">

		<!-- Header Wrapper -->
			<div  class="style1">
				<img class="pc-show" src="images/2025-banner-bg-v1.jpg" alt="Community Over Code Asia 2025" width="100%">
				{{ if eq .Site.Language.Lang "zh" }}
				<h1 class="position-absolute" style="z-index: -10; left: -1000px">阿帕奇软件基金会亚洲大会 2025</h1>
				{{ else }}
				<h1 class="position-absolute" style="z-index: -10; left: -1000px">CommunityOverCode Asia 2025</h1>
				{{ end }}
				<div class="container banner-wrap">
					{{ if eq .Site.Language.Lang "zh" }}
						<h1 class="d-none">阿帕奇软件基金会亚洲大会</h1>
						<img class="pc-show banner-text" src="images/2025-title-zh-v1.png" alt="Community Over Code Asia 2025" width="100%">
						<img class="mobile-show" src="images/2025-mobile-banner-zh-v1.jpg" alt="Community Over Code Asia 2025" width="100%">
					{{ else }}
						<h1 class="d-none"> CommunityOverCode Asia 2025</h1>
						<img class="pc-show banner-text" src="images/2025-title-en-v1.png" alt="Community Over Code Asia 2025" width="100%">
						<img class="mobile-show" src="images/2025-mobile-banner-en-v1.jpg" alt="Community Over Code Asia 2025" width="100%">
					{{ end }}

					<div class="home-btn-wrap">
						<a href="https://sessionize.com/communityovercode-asia-2025/"
							target="_blank"
							class="btn btn-warning btn-lg">
							{{ i18n "call_for_proposals" }}
						</a>
						<!-- <a href="{{ if eq .Site.Language.Lang "zh" }}/zh/{{end}}#register"
							role="button" 
							class="btn btn-warning btn-lg">
							{{ i18n "register" }}
						</a> -->
					</div>
				</div>
				
				<div class="container logo-wrap">
					<img src="images/2025-logo.png" alt="logo" class="logo pc-show" width="200" >
				</div>
				{{ partial "nav.html" . }}
			</div>

			<div class="wrapper style3">
				<section class="container">
					<div class="row justify-content-center">
             <div class="col col-md-12 col-lg-10">
							<h2 class="px-3 mb-5">{{.Title}}</h2>
							
							{{ partial "countdown.html" . }}

              <div class="text-start">
								{{.Content}}
							</div>
							<a href="https://asia.communityovercode.org/{{ if eq .Site.Language.Lang "zh" }}/zh{{end}}" target="_blank" role="button" class="btn btn-warning mt-5">{{ i18n "visit-2024"}}</a>
						 </div>
					</div>
				</section>
			</div>

			

			<div class="wrapper style4">
				<section class="container">
					<div class="row">
						<div class="col-12 col-lg-5 title">
							CommunityOverCode Asia 2024 Highlight Video
						</div>
						<div class="col-12 col-lg-7">
							<div class="bg-dark">
								{{ if eq .Site.Language.Lang "zh" }}
									<iframe src="//player.bilibili.com/player.html?isOutside=true&aid=113989170234833&bvid=BV17pKGeMELY&cid=28347928505&p=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="100%" height="405"> </iframe>
								{{ else }}
								<iframe width="100%" height="405" src="https://www.youtube.com/embed/W7SkdcCnpQM?si=7aOZLTO-VRGp0F7S" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
								{{ end }}
							</div>
						</div>
					</div>
				</section>
			</div>

		{{ partial "footer.html" . }}

	</body>
</html>
